* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.radius {
  background: #e5e5e5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  min-height: 100%;
}

.background {
  background-image: url(./images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.web-name {
  font-size: 18px;
  font-weight: 700;
  color: #6070ff;
  line-height: 20px;
}

.bar-button {
  display: flex;
  color: #6070ff;
}

.menu {
  background: #6070ff;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding-top: 106px;
  opacity: 0.9;
}

.menu li {
  padding-bottom: 40px;
}

.menu a {
  margin-left: 24px;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
}

.menu .right {
  color: #fff;
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  top: 40px;
}

.menu-desktop {
  display: none;
}

.dts {
  background-color: #fff;
  border-bottom-left-radius: 100px;
}

.details {
  margin: 24px;
}

.details h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: center;
  margin-top: 114px;
}

.details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
}

.connect {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  margin-top: 12px;
  line-height: 24px;
  color: #7f8cff;
}

.social-links {
  display: flex;
  margin-top: 12px;
  margin-bottom: 114px;
}

.social-icons {
  color: #505f79;
  padding: 20px 12px;
}

/* ---------------------------works------------------------------------------ */

.shadow-back {
  background: #e5e5e5;
  padding: 114px 24px;
  display: grid;
  justify-content: center;
}

.works {
  padding: 16px;
  margin-top: 88px;
  background: #fff;
  width: 327px;
  height: auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex-direction: column;
}

h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-top: 12px;
  color: #172b4d;
  width: 250px;
}

.proj {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-content: center;
}

.dot {
  margin-top: 4px;
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}

.proj li {
  color: #7a869a;
  margin-right: 12px;
  margin-top: 20px;
  font-size: 13px;
  line-height: 16px;
}

.proj a {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.pro {
  color: #344563;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
}

.language {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 12px;
}

.language li {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  display: flex;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  margin-right: 8px;
  letter-spacing: 0.1em;
}

.button {
  display: inline-grid;
  padding: 12px;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #396df2;
}

.button:hover {
  color: #fff;
  background: #396df2;
  transition: 0.5s;
}

.button-mg {
  margin-top: 24px;
}

/* -----------------------------pop up-------- */
.my-pop-up {
  width: 100vh;
  height: 100vh;
  position: fixed;
  z-index: 3;
  overflow: auto;
}

.popup-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 3;
  position: fixed;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: auto;
  backdrop-filter: blur(5px);
}

.popup {
  padding: 16px;
  background: #fff;
  width: 327px;
  height: 780px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.fa-xmark {
  color: #67798e;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-left: 280px;
}

.popup img {
  margin-top: 20px;
}

.mobile-popup-info {
  display: block;
}

.desktop-popup-info {
  display: none;
}

.popup-buttons {
  margin-right: 12px;
  margin-top: 0;
}

.lagu-desktop {
  display: none;
}

.thin-line {
  background: #ebecf0;
  height: 1px;
  width: 303px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ---------------------------about me------------------------------------------ */

.about {
  padding: 24px;
  background: #fff;
  border-top-right-radius: 100px;
}

.border {
  background: #e5e5e5;
}

.about h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: center;
  margin-top: 90px;
}

.about p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
}

.lagu {
  margin-bottom: 110px;
}

.languages {
  display: flex;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
  margin-top: 12px;
}

.about-me {
  margin-top: 55px;
}

.about-me a {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}

.languages img {
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 12px;
}

.languages p {
  margin-left: 16px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.info {
  margin-top: 36px;
}

.info a {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}

.line {
  background: #dfe1e6;
  height: 1px;
  width: 327px;
  margin-top: 24px;
}

.down {
  display: flex;
  justify-content: space-between;
  margin-right: 58px;
}

/* -------------------------------------------conatact form---------------------------- */
.contact-form {
  display: flex;
  flex-direction: column;
  background: #6070ff;
  border-top-left-radius: 100px;
  background-image: url(./images/contact\ form\ shapes-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.contact-me {
  font-size: 40px;
}

.title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.title-container p {
  align-self: center;
}

.form-container {
  margin: 24px;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

form input {
  height: 48px;
  border-radius: 8px;
  padding-left: 16px;
  border: 1px solid white;
}

form textarea::placeholder {
  color: #b3bac5;
}

.contact-form .button {
  padding: 12px 16px;
  margin-bottom: 45px;
}

form input::placeholder {
  color: #b3bac5;
}

.textarea {
  height: 170px;
  border-radius: 8px;
  padding: 15px 32px 15px 16px;
}

#error {
  background: red;
  color: #fff;
}

/* -------------------------------------------Extras---------------------------- */
.text-white {
  color: #fff;
}

.text-offwhite {
  color: #ebebff;
  width: 327px;
}

.margin-vertical-50px {
  margin: 50px 0;
}

.font-size-20px {
  font-size: 20px;
}

.text-justified-center {
  text-align: center;
}

.form-button:hover {
  color: white;
  background: #396df2;
  transition: 0.5s;
}

/* ---------------------------------------------Desktop version--------------------- */
@media screen and (min-width: 768px) {
  .bar-button {
    display: none;
  }

  .right {
    display: none;
  }

  .menu {
    display: none;
  }

  .menu-desktop {
    display: flex;
  }

  .menu-bar a {
    margin-right: 32px;
    font-weight: 500;
    font-size: 15px;
    color: #344563;
  }

  .navbar {
    margin-left: 155px;
    margin-right: 155px;
  }

  .menu-bar:hover {
    text-decoration: underline;
  }

  .background {
    background-image: url(./images/Header\ bg@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-bottom: 120px;
  }

  .details {
    margin-top: 220px;
    margin-left: 260px;
    margin-right: 260px;
    padding-bottom: 200px;
  }

  .details h1 {
    margin-top: 0;
  }

  .details p {
    font-size: 20px;
  }

  .social-links {
    margin-bottom: 0;
  }

  .social-icons {
    transition-duration: 0.5s;
  }

  .social-icons i:hover {
    transform: scale(1.5);
    transition: 0.5s;
  }

  /* ------------------------------Works------- */
  .shadow-back {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .works {
    display: flex;
    flex-direction: row;
    width: 1156px;
    height: auto;
  }

  .works:nth-child(even) {
    flex-direction: row-reverse;
  }

  .card-work {
    padding: 46px;
  }

  .card-work h3 {
    font-size: 40px;
  }

  .proj {
    display: flex;
  }

  .proj li {
    font-size: 18px;
  }

  .proj a {
    font-size: 18px;
  }

  .pro {
    font-size: 16px;
    margin-top: 32px;
  }

  .language {
    display: flex;
    font-size: 12px;
    margin-top: 24px;
  }

  .img-transition {
    width: 544px;
    height: 448px;
    transition-duration: 0.5s;
  }

  .img-transition:hover {
    transform: scale(1.1);
  }

  .button {
    justify-content: center;
  }

  /* ----------------------------popup------------- */

  .popup {
    width: 1156px;
    height: 1163px;
  }

  .fa-xmark {
    margin-left: 1100px;
  }

  .popup img {
    width: 1108px;
    height: 586px;
  }

  .left-popup {
    width: 728px;
    float: left;
  }

  .right-popup {
    float: right;
    margin-right: 30px;
  }

  .mobile-popup-info {
    display: none;
  }

  .desktop-popup-info {
    display: block;
  }

  .thin-line {
    width: 298px;
  }

  .popup-buttons {
    width: 142px;
  }

  /* --------------------------About Me---------- */
  .about {
    display: flex;
    margin-bottom: 150px;
  }

  .abmy {
    width: 447px;
    height: 392px;
    margin-left: 142px;
  }

  .lagu {
    margin-top: 50px;
    width: 684px;
    height: 360px;
    margin-left: 37px;
  }

  .languages {
    display: inline-block;
    width: 122px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
    align-items: center;
    margin-top: 36px;
  }

  .line {
    width: 685px;
  }

  /* --------------------------contact me--------- */
  .contact-form {
    background-image: url(./images/contact\ form\ background\ shapes@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-offwhite {
    width: 520px;
  }

  form input {
    width: 447px;
    height: 48px;
  }

  textarea {
    width: 447px;
    height: 170px;
  }

  .form-button {
    margin-left: 151px;
  }
}
